<!-- Edit Flat form -->


<div class="page-container">
  <h1>Edit your flat:</h1>

  <div class="form-container offset-3">
    <%= simple_form_for @flat do |f| %>
      <p><%= f.input :name %></p>
      <p><%= f.input :price_per_night %></p>
      <p><%= f.input :capacity %></p>
      <p><%= f.input :location %></p>
      <p><%= f.input :photo, as: :file, input_html: { multiple: true} %></p>
      <%= f.button :submit, class: "form-actions btn btn-danger"%>
    <% end %>
  </div>
</div>
