<!-- Create New Flat Form -->

<div class="page-container">
  <h1>Add your flat here:</h1>

  <div class="form-container offset-3">
    <%= simple_form_for @flat do |f| %>
      <p><%= f.input :name %></p>
      <p><%= f.input :price_per_night %></p>
      <p><%= f.input :capacity %></p>
      <p><%= f.input :location %></p>
      <p><%= f.input :photos, as: :file, input_html: { multiple: true} %></p>
      <%= f.button :submit, class: "submit-button"%>
    <% end %>
  </div>
</div>

 <%= link_to 'back', flats_path, class: 'bi btn btn-outline-dark btn-lg'  %>