<!-- flat info card: -->

<div class="info-carousel-container">
  <h1><%= @flat.name %></h1>
  <div class="flat-info">
    <h3>Flat Info:</h3>
    <h5>Price per night:</h5>
    <h5>£<%= @flat.price_per_night %></h5>
    <h5>Capacity:</h5>
    <h5><%= @flat.capacity %></h5>
    <h5>Location:</h5>
    <h5><%= @flat.location %></h5>
    <p><%= link_to "Edit Flat", edit_flat_path(@flat), class: "btn btn-primary" %></p>
  </div>


  <!-- Image Carousel: -->
  <div class="carousel-container">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
         <% @flat.photos.each_with_index do |photo, index| %>
             <div class="carousel-item <%= "active" if index == 0 %>">
                <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
              </div>
          <% end %>
       </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <!-- Map Goes Here: -->


  </div>
  <!-- Add link button back to flat index once Juliette has created index page -->
</div>

