
<div class="booking-form">
  <%= simple_form_for([@flat, @booking]) do |f| %>
    <%= f.input :check_in %>
    <%= f.input :check_out %>
    <%= f.input :number_of_guest %>
    <%= f.submit class: "btn btn-danger" %>
  <% end %>
</div>
