<div class="banner" style="background-image: url(<%= asset_url('background.jpg') %>);">

  <div class="form">
    <h1>Book homes, hotels, and more with Patch-pal a flat </h1>
    <!-- <form>
      <h1>Book homes, hotels, and more </h1>
      <div class="form-group">
        <label for="exampleInputWhere">Where</label>
        <input type="location" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Anywhere">
      </div>
      <div class="form-group">
        <label for="exampleInputWhere">Check-in</label>
        <input type="date" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Anywhere">
      </div>
      <div class="form-group">
        <label for="exampleInputWhere">Check-out</label>
        <input type="date" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Anywhere">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Number of adults</label>
        <input type="number" min="0" class="form-control" id="exampleInputPassword1" placeholder="...">
      </div>
      <button type="submit" class="btn btn-danger btn-lg btn-block">Submit</button>

    </form> -->
    <%= form_tag flats_path, method: :get do %>
      <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "location"
      %>
      <%= submit_tag "Search", class: "btn btn-danger btn-lg btn-block" %>
    <% end %>
  </div>
</div>

<div class="display_flats">
  <div class="text">
    <h1>What users in the United Kingdom are looking at:</h1>
    <div class="cards-flats">
  <% @flats.each do |flat| %>
    <!-- <div class="row"> -->
      <div class="card-flat">
        <% flat.photos.each do |photo| %>
          <%= cl_image_tag photo.key %>
        <% end %>
        <h2><%= flat.name %></h2>
        <h3><%= flat.location %></h3>
        <p><%= link_to 'Show', flat %></p>
        <p><%= link_to 'Edit', edit_flat_path(flat) %></p>
        <p><%= link_to 'Destroy', flat, method: :delete, data: { confirm: 'Are you sure?' } %></p>
      </div>
    <!-- </div> -->
  <% end %>
</div>


<br>
<div class="info_block">
  <div class="mapb-container">
    <div class="info_textt">
      <h1>Here is your map</h1>
    </div>
    <div
      id="map"
      style="width: 100%;
      height: 600px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
    ></div>
  </div>
</div>
</div>


